html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #222;
    font-family: monospace;
    image-rendering: pixelated;
    touch-action: manipulation;
}

#money {
    margin: 10px;
    color: white;
    font-size: 45px;
    font-weight: bold;
    text-shadow: 4px 4px #000;
    position: relative;
    z-index: 1;
}

#moneyLabel {
    font-size: 48px;
}

#moneyValue {
    font-size: 48px;
    transition: font-size 0.2s;
}

#stats {
    position: relative;

    display: flex;
    flex-direction: column;

    align-items: flex-start;

    margin-left: 10px;

    z-index: 100;
}

#backpack {
    order: 2;

    width: 45px;
    height: 45px;

    background: white;
    border: 4px solid #aaa;
    border-radius: 50%;

    font-size: 28px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 10px;

    box-sizing: border-box;

    position: relative;
    z-index: 101;
}

#income {
    order: 1;

    color: white;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 3px 3px #000;
}
#inventory {
    display: none;
    position: fixed;
    top: 155px;
    left: 10px;
    background: #333;
    border: 5px solid white;
    padding: 10px;
    color: white;
    font-size: 22px;
    z-index: 200;
    box-sizing: border-box;
}

#dollar {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 180px;
    height: 100px;
    background: #3cb043;
    border: 8px solid #145214;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 70px;
    font-weight: bold;
    box-shadow: 8px 8px #000;
    user-select: none;
    z-index: 1;
}

#menu {
    position: absolute;
    top: 55%;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 5px solid white;
    z-index: 1;
}

#tabs {
    display: flex;
    height: 50px;
}

.tab {
    flex: 1;
    background: #333;
    color: white;
    border: 2px solid white;
    font-family: monospace;
    font-size: 16px;
}

#content {
    text-align: center;
    color: white;
    font-size: 25px;
}

#shop {
    display: none;
    padding: 10px;
}

#printer {
    width: 95%;
    height: 70px;
    background: #444;
    color: white;
    border: 4px solid white;
    font-family: monospace;
    font-size: 22px;
}

#settings {
    display: none;
    color: white;
    position: absolute;
    top:60%;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
    box-sizing: border-box;
    z-index: 2;
}

#saveButton,
#deleteButton,
#cancelDelete,
#confirmDelete {
    width: 90%;
    height: 60px;
    background: #444;
    color: white;
    border: 4px solid white;
    font-family: monospace;
    font-size: 22px;
}

#deleteButton {
    color: red;
}

#offlinePopup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#offlineBox {
    position: relative;
    width: 300px;
    background: #333;
    border: 5px solid white;
    padding: 20px;
    color: white;
    text-align: center;
    box-sizing: border-box;
}

#closeOffline {
    position: absolute;
    top: 5px;
    right: 5px;
    background: #444;
    color: white;
    border: 3px solid white;
    font-size: 20px;
}

#deletePopup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1100;
}

#autoClickerButton {
    position: fixed;
    right: 20px;
    top: 55px;
    width: 55px;
    height: 55px;
    padding: 0;
    border: 3px solid black;
    border-radius: 50%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
    box-sizing: border-box;
}

.pixelCursor {
    position: relative;
    width: 20px;
    height: 28px;
    background: black;
    clip-path: polygon(
        0 0,
        100% 70%,
        65% 70%,
        85% 100%,
        65% 100%,
        45% 72%,
        0 100%
    );
    display: block;
}

#autoClickerPanel {
    display: none;
    position: fixed;
    right: 20px;
    top: 120px;
    width: 220px;
    padding: 15px;
    background: white;
    border: 3px solid black;
    border-radius: 10px;
    text-align: center;
    z-index: 51;
    box-sizing: border-box;
}

#autoClickerPanel.open {
    display: block;
}

#autoClickerPanel button {
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
}

#autoClickerSpeedControls {
    margin-top: 15px;
}

#autoClickerSpeedControls p {
    margin: 5px 0;
}

#autoSpeedInput {
    width: 80px;
    padding: 7px;
    font-size: 16px;
    text-align: center;
    box-sizing: border-box;
}


#saveMessage {
    position: fixed;

    top: -100px;
    left: 50%;

    transform: translateX(-50%);

    width: 220px;

    background: #333;

    border: 4px solid white;

    padding: 10px;

    color: #00ff00;

    font-size: 18px;
    font-weight: bold;

    text-shadow: 2px 2px #000;

    text-align: center;

    box-sizing: border-box;

    z-index: 999999;

    transition: top 0.25s ease;

    display: block;
}

#saveMessage.show {
    top: 10px;
}

#saveMessageText {
    display: flex;

    align-items: center;
    justify-content: center;

    gap: 8px;

    margin-bottom: 8px;
}

.pixelCheck {
    position: relative;

    width: 16px;
    height: 16px;

    display: inline-block;
}

.pixelCheck::before {
    content: "";

    position: absolute;

    width: 5px;
    height: 10px;

    border-right: 4px solid #00ff00;
    border-bottom: 4px solid #00ff00;

    transform: rotate(45deg);

    left: 4px;
    top: 1px;
}

#saveProgress {
    width: 100%;
    height: 5px;

    background: #00ff00;

    transform-origin: left;

    transform: scaleX(1);
}


#deletePopup #cancelDelete,
#deletePopup #confirmDelete {
    display: inline-block;
    width: 40%;
    height: 55px;
    margin-top: 10px;
    box-sizing: border-box;
}

#deletePopup #cancelDelete {
    margin-right: 5%;
}

#deletePopup #confirmDelete {
    color: red;
}



#deleteButtons {
    display: flex;
    gap: 15px;
}

#deleteButtons button {
    flex: 1;
    width: auto;
    margin: 0;
}

#deleteButtons #confirmDelete {
    color: red;
}


#autoSaveSetting {
    width: 90%;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 15px;
}

#autoSaveLabel {
    color: white;
    font-family: monospace;
    font-size: 22px;
    font-weight: bold;
}

#autoSaveButton {
    width: 70px;
    height: 38px;

    padding: 3px;

    background: #333;
    border: 4px solid white;

    position: relative;
    box-sizing: border-box;
}

#autoSaveKnob {
    display: block;

    width: 24px;
    height: 24px;

    background: white;

    position: absolute;
    top: 3px;
    left: 3px;

    transition: left 0.15s;
}

/* ON */

#autoSaveButton.on {
    background: #00aa00;
}

#autoSaveButton.on #autoSaveKnob {
    left: 35px;
}
